<div class="card">
  <p-menubar>
      <ng-template pTemplate="start">
        <div 
            class="flex border-circle cursor-pointer justify-content-center align-items-center shadow-2 hover:shadow-4 transition-duration-300"
            style="width: 180px; height: 90px; overflow: hidden;" (click)="goHome()"
          >
            <img 
              src="assets/images/my-note-pad-logo.jpg" 
              alt="my-note-pad-logo"
              class="w-full h-full object-contain"
            />
          </div>
      </ng-template>
      <ng-template pTemplate="end">
          <div class="flex align-items-center gap-2" (click)="op.toggle($event)">
              <p-avatar icon="pi pi-user" styleClass="mr-2 cursor-pointer" size="xlarge" shape="circle" />
          </div>
          <p-overlayPanel #op>
              <div class="card flex justify-content-center">
                <p-menu [model]="items" />
            </div>
          </p-overlayPanel>
      </ng-template>
  </p-menubar>
</div>
<div *ngIf="isLoading | async" class="loading-overlay">
  <p-progressSpinner ariaLabel="loading" />
</div>
<router-outlet></router-outlet>
